/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	margin:0px;
	padding:0px;
}
.header{
	background-color : #011e29;
	text-align:center;
	/* height:60px; */
	padding:1px;
}

.news-section{
	display:flex;
	gap:30px;
	margin: 30px auto;
	padding: 0px 20px;
	box-sizing:border-box;
	/* flex-direction:row;
	justify-content:space-between */
}

.latest-news-section{
	background-color:white;
	border-radius: 12px;
}

.main-news-section{
	background-color:white;
	border-radius: 12px;
	text-align: center;
}

.pictorial-news-section{
	background-color:white;
	padding: 16px;
      width: 220px;
	text-align:center;
	box-sizing:border-box;
	border-radius: 12px;	
}

.pictorial-news-section img {
      display: block;
      width: 100%;
      height: auto;
      margin: 10px 0;
    }

